<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title  } ); %>
    </head>
    <body style="background-color:whitesmoke;">

        <header>
            <%- include ('../template/header', { username: username , configHeader:configHeader, currpage : currpage  }); %>
        </header>
        <img src="/images/logohome7.png" style="width: 1536px ;height: 200px;">
        <main>
            <div class="container" >
                <div class="jumbotron">
                    <h1>ATN Shop</h1>
                      <a class="btn btn-lg btn-primary" href="/product" role="button">View Catalog »</a>
                   
                  </div>
            </div>
        </main>
          
        
        <%- include ('../template/footer'); %>
        

    </body>

</html> 